/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* ------------- */
/* Algemene styling */
/* ------------- */
:root {
  --primary-font-color: #114d4d;
  --secondary-font-color: #49ada1;
  --tertiary-font-color: #212529;
  --background-color: #fcf8f2;
  --font-color-black: #000000;
  --font-color-white: #ffffff;
}

body {
  background-color: var(--background-color);
  font-size: 0.8em;
  padding-left: 1em;
  padding-right: 1em;
}

section {
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  width: 100%;
}

/* Styling navigatie */
nav ul li {
  list-style-type: none;
}

/* Styling tekst */
h1, h2, h3, h4, h5, h6, a, button {
  color: var(--primary-font-color);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 0.5em;
  margin-top: 0;
}

h1 {
  font-size: 4.5em;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  font-weight: 900;
  line-height: 1.1;
}

h3 {
  color: var(--secondary-font-color);
  font-weight: 400;
  font-size: 2em;
  margin-top: 1em;
}

h4 {
  color: var(--secondary-font-color);
  font-size: 2.5em;
  font-weight: 900;
}

h5 {
  color: var(--tertiary-font-color);
  font-size: 1.7em;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 0.5em;
  text-align: center;
}

h6 {
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
}

p {
  color: var(--primary-font-color);
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  line-height: 1.6;

}

/* logo */
header img {
  height: 40px;
}

/* ------------- */
/* footer styling */
/* ------------- */
footer nav ul {
  margin: 0;
  padding: 0;
  padding-bottom: 3.5em;
  text-align: center;
}

footer nav li a {
  color: var(--font-color-black);
  font-size: 1.5em;
  font-weight: 400;
  line-height: 2;
  text-decoration: none;
}

/* divider styling */
footer hr {
  color: #d8d8d8;
  height: 2px;
  margin-bottom: 3em;
  width: 100%;
}

/* ------------- */
/* Button styling */
/* ------------- */
button {
  background-color: var(--primary-font-color);
  border-radius: 2em;
  border: none;
  box-shadow: 0 12px 40px 0 #737373;
  color: var(--font-color-white);
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 3em;
  margin-top: 2em;
  padding: 1em;
  text-align: center;
  letter-spacing: 1px;
}

/* ------------- */
/* 1e section */
/* ------------- */
main section:first-of-type  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* floating food boodschappen tas */
main section:first-of-type img {
  height: 25em;
}

/* download buttons */
main section:first-of-type a img {
  height: 2.5em;
  padding-right: 0.5em;
}

/* ------------- */
/* 3e section */
/* ------------- */
main section:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* food waste pie */
main section:nth-of-type(3) img:nth-of-type(1){
  height: 25em;
  padding-top: 3em;
  padding-bottom: 3em;
}

/* h2 */
main section:nth-of-type(3) h2 {
  font-weight: 800;
  font-size: 2.8em;
  text-align: center;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

/* h4 */
main section:nth-of-type(3) h4 {
  padding-top: 1em;
}

/* h6 */
main section:nth-of-type(3) h6 {
  padding-right: 0.7em;
  padding-left: 0.7em;
}

/* div downloadsbuttons */
main div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* styling downloadsbuttons */
main div:nth-of-type(1) img {
  height: 2.5em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  padding-right: 0.5em;
}

/* ------------- */
/* 4e section */
/* ------------- */
main section:nth-of-type(4){
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main section:nth-of-type(4) img {
  border-radius: 2em;
  box-shadow: 0 8px 40px 0 #5F5F5F;
  margin-top: 2em;
  margin-bottom: 3em;
  width: 100%;
}

/* ------------- */
/* 5e section */
/* ------------- */
main section:nth-of-type(5){
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main section:nth-of-type(5) img {
  border-radius: 2em;
  box-shadow: 0 8px 40px 0 #5F5F5F;
  margin-top: 2em;
  margin-bottom: 3em;
  width: 100%;
}

/* ------------- */
/* footer img */
/* ------------- */
footer section:nth-of-type(2) ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

footer section:nth-of-type(2) ul img{
  height: 4em;
} 