/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* ------------- */
/* Algemene styling */
/* ------------- */
:root {
  --primary-font-color: #114d4d;
  --secondary-font-color: #49ada1;
  --tertiary-font-color: #212529;
  --background-color: #fcf8f2;
  --font-color-black: #000000;
  --font-color-white: #ffffff;
  --card-color: #ffffff;
  --box-shadow: #a4a1a1;
}

@media (prefers-color-scheme:dark){
  :root {
  --primary-font-color: #28B8B8;
  --secondary-font-color: #aeddd8;
  --tertiary-font-color: #f5f8fa;
  --background-color: #121212;
  --font-color-black: #ffffff;
  --font-color-white: #000000;
  --card-color: #414141;
  --box-shadow: none;
  }
}

body {
  background-color: var(--background-color);
  font-size: 0.8em;
  max-width: 40em;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
}

main {
  margin-top: 7em;
}

section {
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  width: 100%;
}

/* Styling navigatie */
header {
  background: var(--background-color);
  height: 6em;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* logo */
header a img{
  position: relative;
  left: 1.5em;
  top: 1.5em;
  width: 4.5em;
  z-index: 2;
}

header nav button{
  height: 1.3em;
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  background: transparent;
  border: 0;
  box-shadow: none;
  z-index: 4;
  margin: 0;
  padding: 0.7em;
}

header nav button span {
  background: var(--primary-font-color);
  width: 2em;
  height: 0.2em;
  position: absolute;
  right: 0;
}

header nav button span:nth-of-type(1){
  top: 100%;
  transition: .5s;
  border-radius: 0.5em;
}

header nav button span:nth-of-type(2){
  top: 50%;
  border-radius: 0.5em;
}

header nav button span:last-of-type{
  border-radius: 0.5em;
  top: 0%;
  transition: .5s;
}

/* Styling aside */
header nav aside{
  background-color: var(--background-color);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(-100%);
  transition: .5s;
}

header nav aside ul{
  margin-top: 6em;

}
header nav ul li{
  /* line-height: 0.7em; */
  padding: 0.6em 0 ;
  font-size: 1.7em;
  font-weight: 800;
}

header nav ul li :hover {
  text-decoration: underline;
  text-decoration-color: #49ada1;
}

/* css voor de java */
nav.transitie_navigatie aside{
	transform: translateX(0%);
}

nav.transitie_navigatie button span:first-of-type{
  color: var(--text-color);
}

nav.transitie_navigatie button span:nth-of-type(1){
  transform: translateY(-10px) translateX(0) rotate(45deg);
}
  
nav.transitie_navigatie button span:nth-of-type(2){
  opacity: 0;
}

nav.transitie_navigatie button span:nth-of-type(3){
  transform: translateY(15px) translateX(0) rotate(-45deg);
}

nav ul li {
  list-style-type: none;
}

/* Styling tekst */
h1, h2, h3, h4, h5, h6, a, button {
  color: var(--primary-font-color);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 0.5em;
  margin-top: 0;
}

h1 {
  font-size: 4.5em;
  font-weight: 900;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  font-weight: 900;
  line-height: 1.1;
}

h3 {
  color: var(--secondary-font-color);
  font-weight: 400;
  font-size: 2em;
  margin-top: 1em;
}

h4 {
  color: var(--secondary-font-color);
  font-size: 2.5em;
  font-weight: 900;
}

h5 {
  color: var(--tertiary-font-color);
  font-size: 1.7em;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 0.5em;
  text-align: center;
}

h6 {
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
}

p {
  color: var(--primary-font-color);
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

/* ------------- */
/* footer styling */
/* ------------- */
footer nav ul {
  margin: 0;
  padding: 0;
  padding-bottom: 3.5em;
  text-align: center;
}

footer nav li a {
  color: var(--font-color-black);
  font-size: 1.5em;
  font-weight: 400;
  line-height: 2;
  text-decoration: none;
}

/* divider styling */
footer hr {
  color: #d8d8d8;
  height: 2px;
  margin-bottom: 3em;
  width: 100%;
}

/* footer social icons */
footer section:nth-of-type(2) ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

footer section:nth-of-type(2) ul img{
  height: 4em;
} 

/* ------------- */
/* Button styling */
/* ------------- */
button {
  background-color: var(--primary-font-color);
  border-radius: 2em;
  border: none;
  box-shadow: 0 12px 40px 0 var(--box-shadow);
  color: var(--font-color-white);
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 3em;
  margin-top: 2em;
  padding: 1em;
  text-align: center;
  letter-spacing: 1px;
  width: 100%;
}

/* ------------- */
/* ------------- */
/* Home pagina */
/* ------------- */
/* ------------- */

/* ------------- */
/* 1e section */
/* ------------- */
main section:first-of-type  {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* floating food boodschappen tas */
main section:first-of-type img {
  height: 25em;
}

/* download buttons */
main section:first-of-type a img {
  height: 2.5em;
  padding-right: 0.5em;
}

/* ------------- */
/* 3e section */
/* ------------- */
main section:nth-of-type(3) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* food waste pie */
main section:nth-of-type(3) img:nth-of-type(1){
  height: 25em;
  padding-top: 3em;
  padding-bottom: 3em;
}

main section:nth-of-type(3) h2 {
  font-weight: 800;
  font-size: 2.8em;
  text-align: center;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

main section:nth-of-type(3) h4 {
  padding-top: 1em;
}

main section:nth-of-type(3) h6 {
  padding-right: 0.7em;
  padding-left: 0.7em;
}

/* ------------- */
/* 4e section */
/* ------------- */
main section:nth-of-type(4){
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4em;
}

main section:nth-of-type(4) img {
  border-radius: 2em;
  box-shadow: 0 8px 40px 0 var(--box-shadow);
  margin-top: 2em;
  margin-bottom: 3em;
  width: 100%;
}

/* ------------- */
/* 5e section */
/* ------------- */
main section:nth-of-type(5){
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main section:nth-of-type(5) img {
  border-radius: 2em;
  box-shadow: 0 8px 40px 0 var(--box-shadow);
  margin-top: 2em;
  margin-bottom: 3em;
  width: 100%;
}

/* ------------- */
/* ------------- */
/* Ondernemers pagina */
/* ------------- */
/* ------------- */
.ondernemers button {
  background-color: var(--secondary-font-color);
  box-shadow: 0 12px 40px 0 var(--box-shadow);
}

.ondernemers h2{
  font-size: 2.2em;
}

.ondernemers h5 {
  color: var(--primary-font-color);
}

/* ------------- */
/* 1e section */
/* ------------- */
.ondernemers section:nth-of-type(1) h1 {
  font-size: 3.5em;
  text-align: left;
  line-height: 1.2;
}

.ondernemers section:nth-of-type(1) h3 {
  font-size: 1.9em;
  margin: 0;
}

/* ------------- */
/* 2e section */
/* ------------- */
.ondernemers section:nth-of-type(2) input {
  padding: 1em;
  border-radius: 30px;
  border: none;
  background-color: #ffffff;
  height: 4.2em;
  width: 100%;
  box-shadow:0 0 15px 1px var(--box-shadow);
  margin-top: 2em;
  font-family: 'Poppins', sans-serif;
  padding-left: 5em;
}

/* Styling van het eerste formulier element */
.ondernemers section:nth-of-type(2) select {
  width: 100%;
  height: 3.5em;
  border-radius:10px;
  font-family: 'Poppins', sans-serif;
  padding: 1em;
  border-radius: 30px;
  border: none;
  background-color: #ffffff;
  box-shadow:0 0 15px 1px var(--box-shadow);
  color: #87a5a5;
  font-size: 1.2em;
  margin-top: 2em;
  padding-left: 5em;
}

.ondernemers section:nth-of-type(2) ::placeholder {
  color: #87a5a5;
  font-size: 1.2em;
}

/* iconen in het formulier */
.ondernemers form {
  position: relative;
}

.ondernemers form img {
  width: 2em;
  position: absolute;
  top: 3.2em;
  left: 1.5em;
}

/* ------------- */
/* 3e section */
/* ------------- */
.ondernemers section:nth-of-type(3) {
  margin-top: 3em;
  margin-bottom: 8em;
}

.ondernemers section:nth-of-type(3) p {
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
}

.ondernemers section:nth-of-type(3) div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* Logo's bedrijven */
.ondernemers section:nth-of-type(3) img:nth-of-type(n) {
  width: 100%;
  margin: auto;
  padding: 0.5em;
  height: auto;
}

/* ------------- */
/* 4e section */
/* ------------- */
.ondernemers section:nth-of-type(4) article {
  background-color: var(--card-color);
  box-shadow: 0 13px 36px 0 var(--box-shadow);
  height: 100%;
  border-radius: 2em;
  margin-bottom: 2.5em;
  padding: 1.5em;
  display: flex;
  flex-wrap: wrap;
}

.ondernemers section:nth-of-type(4) img {
  box-shadow: none;
  height: 7.5em;
  width: auto;
  align-items: center;
  margin: 1em auto;
}

.ondernemers section:nth-of-type(4) p {
  text-align: center;
  margin: auto;
}

/* ------------- */
/* 5e section */
/* ------------- */
.ondernemers section:nth-of-type(5) h2 {
  text-align: center;
  padding: 2em 0em;
}

/* ------------- */
/* 6e section */
/* ------------- */
.ondernemers section:nth-of-type(6) article {
  padding: 3em 0;
}

.ondernemers section:nth-of-type(6) article h2 {
  margin-bottom: 1.3em;
}

.ondernemers section:nth-of-type(6) article img {
  border-radius: 2em;
  width: 100%;
  height: 18em;
}

.ondernemers section:nth-of-type(6) p {
  font-weight: 600;
  font-size: 1.4em;
}

.ondernemers section:nth-of-type(6) div {
  display: flex;
  align-items: center;
}

.ondernemers section:nth-of-type(6) div img {
  width: 3em;
  height: 1.5em;
  margin: 0;
}

.ondernemers section:nth-of-type(6) div p {
  font-weight: 100;
  font-size: 1.2em;
  padding-left: 1em;
}

.ondernemers section:nth-of-type(6) article p:last-of-type {
  font-size: 1.2em;
  font-weight: 100;
}

/* ------------- */
/* 7e section */
/* ------------- */
.ondernemers section:nth-of-type(7) h2 {
  text-align: center;
  padding: 3em 0em;
}

/* ------------- */
/* 8e section */
/* ------------- */
.ondernemers section:nth-of-type(8) article {
  background-color: var(--card-color);
  box-shadow: 0 13px 36px 0 var(--box-shadow);
  height: 100%;
  border-radius: 2em;
  margin-bottom: 3em;
  padding: 1.5em;
  display: flex;
  flex-wrap: wrap;
}

.ondernemers section:nth-of-type(8) img {
  box-shadow: none;
  height: 7.5em;
  width: auto;
  align-items: center;
  margin: 1em auto;
}

.ondernemers section:nth-of-type(8) p {
  text-align: center;
}

/* ------------- */
/* 9e section */
/* ------------- */

.ondernemers section:nth-of-type(9) h2 {
  color: var(--font-color-white);
  font-size: 2.8em;
}

.ondernemers section:nth-of-type(9) {
  background-color: #114d4d;
  border-radius: 30% 70% 60% 40% / 31% 20% 80% 69%;
}

.ondernemers section:nth-of-type(9) div{
  padding-top: 5em;
  margin-bottom: 3em;
  text-align: center;
}

.ondernemers section:nth-of-type(9) button {
  background-color: white;
  color: var(--primary-font-color);
  width: fit-content;
  letter-spacing: 0;
}